table {
  width:90vw;
}

.center-table {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  font-size: 0.9rem;
  background-color: black;
  color: white;
}

.custom-progress-spinner-container {
  padding-top: 10em;
}

.custom-progress-spinner > * {
  position:relative;
  margin:auto;
  padding-top: 1em;
}
